<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css" />
    <!--[if (!IE)|(gte IE 8)]><!-->
    <link href="https://github.com/documentcloud/visualsearch/blob/master/build-min/visualsearch-datauri.css"
        media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lte IE 7]><!-->
    <link href="https://github.com/documentcloud/visualsearch/blob/master/build-min/visualsearch.css"
        media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <link href="@Url.Content("~/Content/sons-of-obsidian.css")" type="text/css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/prettify.css")" type="text/css" rel="stylesheet" />*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>
    <div id="page">
        <div id="toolbar" class="clearfix">
            <div id="header" class="fl"><strong>Razor Pad: Online Razor Debugging Tool</strong></div>
            <div id="actions" class="fl">
                <ul class="actionItems">
                    <li>Execute</li>
                    <li>Save</li>
                    <li>Share</li>
                </ul>
            </div>
            <div id="auth" class="fr">
                <ul class="actionItems">
                    <li>Register</li>
                    <li>Login</li>
                    <li>About</li>
                </ul>
            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>
    </div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://documentcloud.github.com/visualsearch/vendor/underscore-1.1.5.js"></script>
<script type="text/javascript" src="http://documentcloud.github.com/visualsearch/vendor/backbone-0.5.0.js"></script>
<script type="text/javascript" src="http://documentcloud.github.com/visualsearch/build-min/visualsearch.js"></script>
@*<script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>*@
<script type="text/javascript" src="@Url.Content("~/Scripts/prettify.min.js")"></script>
</html>
