<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/default/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/default/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/default/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/shCore.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/shThemeDefault.css")" type="text/css" rel="stylesheet" />
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.js")"></script>
</head>
<body>
    <div class="container container_12">
        <div id="toolbar" class="grid_12 gradient">
            <div id="header" class="grid_4 inlinebox">
                <h1 class="insetType" title="Online Tool to play with Razor View Engine">
                    RazorPad</h1>
            </div>
            <div id="actions" class="grid_4 inlinebox">
                <ul class="actionItems">
                    <li><button id="execute">Execute</button></li>
                </ul>
            </div>
        </div>
        <div id="content" class="grid_12">
            @RenderBody()
        </div>
    </div>
</body>

<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/underscore.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/splitter.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.watermark.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/stringformat.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/XRegExp.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/shCore.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/shBrushCSharp.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/shBrushXml.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/ace-uncompressed.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/mode-html.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/mode-csharp.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/hpTabs.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.hotkeys.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/RazorPad.js")"></script>


</html>