           
@*<div class="panes">
    <div class="topPane clearfix">
        <div id="razorPane" class="inlinebox leftPane">
            @Html.Partial("_RazorPane")
        </div>
        <div id="modelPane" class="inlinebox rightPane">
            @Html.Partial("_ModelPane")
        </div>
    </div>
    <div class="bottomPane">
        <div id="resultsPane" class="">
            @Html.Partial("_ResultsPane")
        </div>
    </div>
</div>*@
<table id="main">
    <colgroup>
        <col width="60%" />
        <col width="40%" />
    </colgroup>
    <tr class="topRow">
        <td>
            <div id="razorPane" class="">
                @Html.Partial("_RazorPane")
            </div>
        </td>
        <td>
            <div id="modelPane" class=" ">
                @Html.Partial("_ModelPane")
            </div>
        </td>
    </tr>
    <tr  class="bottomRow">
        <td colspan="2">
            <div id="resultsPane" class="">
                @Html.Partial("_ResultsPane")
                
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript" charset="utf-8">

    //    $(function () {

    //    });
    function resizeEditor(editor) {
        var parent = editor.closest('td');
        editor.height(parent.outerHeight() - editor.siblings().outerHeight());
    }
</script>
